# 1. IMPORT PACKAGE

In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 2. IMPORT DATA RESTO, SETMA, DAN TABEL REFERENSI

**A. Import dan melihat field data OP Restoran**

In [2]:
resto = gpd.read_file('C:/Users/ASUS/Documents/Sabila Haq/Junior DS/Data_20-10-2022/resto/resto.shp')
resto['LOG_TIME'] = pd.to_datetime(resto['LOG_TIME'])
resto.dtypes

FID_RESTO_             int64
LOG_FULLNA            object
LOG_TIME      datetime64[ns]
NOPD                  object
NPWPD                 object
                   ...
d_ATRIBUTE            object
d_LOKASI              object
d_STATUS_C            object
d_NAMA_SGA            object
geometry            geometry
Length: 200, dtype: object

Melihat informasi data OP Restoran secara menyeluruh

In [3]:
resto.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 11728 entries, 0 to 11727
Columns: 200 entries, FID_RESTO_ to geometry
dtypes: datetime64[ns](1), float64(31), geometry(1), int64(9), object(158)
memory usage: 17.9+ MB

**B. Subset dan menampilkan hasil subset data OP Restoran**

In [ ]:
rest = resto[['GUID', 'NAMA_OP', 'NOPD', 'LOG_TIME']]
rest = rest.sort_values(by=['GUID','NAMA_OP','LOG_TIME'])
rest['NOPD'] = rest['NOPD'].str.replace(r'\W','')

rest

**C. Import dan melihat info data Setma**

In [5]:
setma = gpd.read_file('C:/Users/ASUS/Documents/Sabila Haq/Junior DS/Data_20-10-2022/SP2D_OBJEK_202207082010.gdb')
setma.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 39140 entries, 0 to 39139
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Alamat             39140 non-null  object
 1   Alamatpemilik      39133 non-null  object
 2   Catatan_Tutup      12316 non-null  object
 3   Jns_Wp             39134 non-null  object
 4   Kecamatan          38865 non-null  object
 5   Kelurahan          38861 non-null  object
 6   Klasifikasi        39035 non-null  object
 7   Kodebentuk         39134 non-null  object
 8   Kodepajak          39140 non-null  object
 9   Kodeunit           39139 non-null  float64
 10  Lhp_Surat_Tutup    12316 non-null  object
 11  Nama               39140 non-null  object
 12  Namapajak          39140 non-null  object
 13  Namapemilik        39134 non-null  object
 14  Namasifat          39140 non-null  object
 15  Namastatus         39140 non-null  object
 16  Namaunit           39139 non-null  object
 17  Namawilayah        39139 non-null  object
 18  No_Identitas       34163 non-null  object
 19  Nomorpengukuhan    9922 non-null   float64
 20  NOP                39140 non-null  object
 21  Notelepon          31667 non-null  object
 22  Npwp               39140 non-null  object
 23  Pengukuhan         39140 non-null  object
 24  Sifat              39140 non-null  object
 25  Status             39140 non-null  object
 26  Tanggalpengukuhan  20437 non-null  object
 27  Tgl_Tutup          12316 non-null  object
 28  Tgldaftar          39102 non-null  object
 29  Tgldaftar_Npwpd    38305 non-null  object
 30  Tgloperasi         38996 non-null  object
 31  Tglterbit_Nopd     25373 non-null  object
 32  Tgl_Update_Status  12316 non-null  object
 33  Unitpendaftar      39140 non-null  object
 34  X_Kec              39139 non-null  object
 35  X_Kelurahan        38853 non-null  object
 36  NOPD_2             39139 non-null  object
 37  geometry           0 non-null      geometry
dtypes: float64(2), geometry(1), object(35)
memory usage: 11.3+ MB

**D. Subset data Setma**

In [ ]:
setma = setma[['NOPD_2', 'Nama', 'Klasifikasi', 'Status']]
setma = setma[setma['Klasifikasi']=='Restoran']
setma['NOPD'] = setma['NOPD_2']
setma = setma[['NOPD', 'Nama', 'Klasifikasi', 'Status']]
setma

**E. Import dan melihat info data Table Referensi**

In [7]:
tab_ref = pd.read_excel('C:/Users/ASUS/Documents/Sabila Haq/Junior DS/Data_20-10-2022/Tabel Referensi Resto_4.xlsx')
tab_ref.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8152 entries, 0 to 8151
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  8152 non-null   int64
 1   NAMA OP     8152 non-null   object
 2   ALIAS       8152 non-null   object
 3   DUP         8152 non-null   bool
dtypes: bool(1), int64(1), object(2)
memory usage: 199.1+ KB

**F. Subset data Table Referensi**

In [8]:
tab_ref.rename(columns={'ALIAS': 'NAMA_OP'}, inplace=True)
tab_ref = tab_ref[['NAMA_OP', 'NAMA OP']]
tab_ref

,NAMA_OP,NAMA OP
0,"""BAKSO WULANDARI""","""BAKSO WULANDARI"""
1,% ARABICA,% ARABICA
2,%ARABICA | ASHTA DISTRICT 8,% ARABICA
3,1/15 (SATU PER LIMA BELAS),1/15 (SATU PER LIMA BELAS)
4,103 BAKMI,103 BAKMI
...,...,...
8147,ZHENGDA,ZHENGDA
8148,ZIN HOKKAIDO SHABU-SHABU AND YAKINIKU,ZIN HOKKAIDO SHABU-SHABU AND YAKINIKU
8149,ZOKU,ZOKU
8150,ZUBU,ZUBU
8151,ZUTTO,ZUTTO

# 3. CEK DUPLICATE GUID DAN NOPD

**A. Cek duplikasi keseluruhan data OP Restoran**

In [9]:
rest['DUPLICATE'] = np.where(rest.duplicated(keep=False), 'TIDAK VALID', 'VALID')

v = len(rest[rest['DUPLICATE']=='VALID'].index)
tv = len(rest[rest['DUPLICATE']=='TIDAK VALID'].index)

print('Jumlah Data Valid : ', v)
print('Jumlah Data Tidak Valid : ', tv)

Jumlah Data Valid :  11728
Jumlah Data Tidak Valid :  0

**B. Cek duplikasi data OP Restoran berdasarkan kesamaan GUID dan NOPD**<br>
_Data yang tidak ada duplikasi dinyatakan valid dan sebaliknya_

In [10]:
rest['DUPLICATE'] = np.where(rest.duplicated(subset=['GUID','NOPD'], keep=False), 'TIDAK VALID', rest['DUPLICATE'])

v = len(rest[rest['DUPLICATE']=='VALID'].index)
tv = len(rest[rest['DUPLICATE']=='TIDAK VALID'].index)

print('Jumlah Data Valid : ', v)
print('Jumlah Data Tidak Valid : ', tv)

Jumlah Data Valid :  10135
Jumlah Data Tidak Valid :  1593

Menampilkan jumlah duplikasi

In [11]:
v = len(rest[rest['DUPLICATE']=='VALID'].index)
tv = len(rest[rest['DUPLICATE']=='TIDAK VALID'].index)

print('Hasil Cek Duplikat GUID dan NOPD: ')
print('- Tidak Ada : ', v, (''))
print('- Ada : ', tv)

Hasil Cek Duplikat GUID dan NOPD:
- Tidak Ada :  10135
- Ada :  1593

# 4. CEK KETERISIAN NOPD

**A. Pengecekan keterisian NOPD pada data tidak NOPD kosong**

In [12]:
rest['CEK NOPD 1'] = np.where(rest['DUPLICATE']=='VALID', '-', 'TERISI')
rest['CEK NOPD 1'] = np.where((rest['CEK NOPD 1']=='TERISI')&(rest['NOPD'].isnull()), 'KOSONG', rest['CEK NOPD 1'])

a = len(rest[rest['CEK NOPD 1']=='TERISI'].index)
ta = len(rest[rest['CEK NOPD 1']=='KOSONG'].index)

print('Hasil Cek Keterisian NOPD: ')
print('Jumlah Data Terisi : ', a)
print('Jumlah Data Tidak Terisi : ', ta)

Hasil Cek Keterisian NOPD:
Jumlah Data Terisi :  130
Jumlah Data Tidak Terisi :  1463

# 5. CEK KESAMAAN NOPD TERISI

**A. Pengecekan kesamaan Nama OP pada data NOPD terisi**

In [13]:
rest['CEK NAMA OP 1'] = np.where(rest['CEK NOPD 1']=='TERISI', 'BEDA', '-')
rest['CEK NAMA OP 1'] = np.where((rest['CEK NAMA OP 1']=='BEDA')&(rest.duplicated(subset=['GUID','NAMA_OP','NOPD'], keep=False)), 'SAMA', rest['CEK NAMA OP 1'])

s = len(rest[rest['CEK NAMA OP 1']=='SAMA'].index)
b = len(rest[rest['CEK NAMA OP 1']=='BEDA'].index)

print('Hasil Cek Kesamaan NAMA OP: ')
print('Jumlah Data Sama : ', s)
print('Jumlah Data Beda : ', b)

Hasil Cek Kesamaan NAMA OP:
Jumlah Data Sama :  115
Jumlah Data Beda :  15

**B. Pengecekan data terbaru dari data yang Nama OP sama**

In [14]:
rest['CEK UP'] = np.where(rest['CEK NAMA OP 1']=='SAMA', 'LAMA', '-')
rest['CEK UP'] = np.where((rest['CEK NAMA OP 1']=='SAMA')&(rest['NOPD'].duplicated(keep='first')), 'BARU', rest['CEK UP'])
rest['CEK UP'].value_counts()

b = len(rest[rest['CEK UP']=='BARU'].index)
l = len(rest[rest['CEK UP']=='LAMA'].index)

print('Hasil Cek Logtime Data NAMA OP Sama: ')
print('Jumlah Data Terupdate : ', b)
print('Jumlah Data Lama : ', l)

Hasil Cek Logtime Data NAMA OP Sama:
Jumlah Data Terupdate :  59
Jumlah Data Lama :  56

**C. Penetapan validasi sementara berdasarkan data terupdate**

In [15]:
rest['DUPLICATE'] = np.where(rest['CEK UP']=='BARU', 'VALID', rest['DUPLICATE'])

v = len(rest[rest['DUPLICATE']=='VALID'].index)
tv = len(rest[rest['DUPLICATE']=='TIDAK VALID'].index)

print('Hasil Validasi Sementara: ')
print('Jumlah Data Valid : ', v)
print('Jumlah Data Tidak Valid : ', tv)

Hasil Validasi Sementara:
Jumlah Data Valid :  10194
Jumlah Data Tidak Valid :  1534

# 6. PENGECEKAN VALIDASI DATA RESTO PADA DATA SETMA

**A. Join data OP Restoran dan data Setma, serta menampilkan info data hasil join**

In [16]:
df = pd.merge(rest,setma, on = 'NOPD', how='left')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11728 entries, 0 to 11727
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   GUID           11646 non-null  object
 1   NAMA_OP        11712 non-null  object
 2   NOPD           9073 non-null   object
 3   LOG_TIME       11728 non-null  datetime64[ns]
 4   DUPLICATE      11728 non-null  object
 5   CEK NOPD 1     11728 non-null  object
 6   CEK NAMA OP 1  11728 non-null  object
 7   CEK UP         11728 non-null  object
 8   Nama           3148 non-null   object
 9   Klasifikasi    3148 non-null   object
 10  Status         3148 non-null   object
dtypes: datetime64[ns](1), object(10)
memory usage: 1.1+ MB

**B. Pengecekan keterisian NOPD (pada setma) data dengan Nama OP sama**

In [17]:
df['CEK NOPD 2'] = np.where(df['CEK NAMA OP 1']=='BEDA', 'ADA', '-')
df['CEK NOPD 2'] = np.where((df['CEK NAMA OP 1']=='BEDA')&(df['Nama'].isnull()), 'TIDAK ADA', df['CEK NOPD 2'])

a = len(df[df['CEK NOPD 2']=='ADA'].index)
ta = len(df[df['CEK NOPD 2']=='TIDAK ADA'].index)

print('Hasil Cek NOPD di Setma: ')
print('Jumlah Ada NOPD : ', a)
print('Jumlah Tidak Ada NOPD : ', ta)

Hasil Cek NOPD di Setma:
Jumlah Ada NOPD :  7
Jumlah Tidak Ada NOPD :  8

**C. Pengecekan Kesamaan Nama OP dengan yang ada pada data Setma yang tidak tertera NOPD**

In [18]:
df['CEK NAMA OP 2'] = np.where(df['CEK NOPD 2']=='ADA', 'BEDA', '-')
df['CEK NAMA OP 2'] = np.where((df['CEK NOPD 2']=='ADA')&(df['NAMA_OP']==df['Nama']), 'SAMA', df['CEK NAMA OP 2'])

s = len(df[df['CEK NAMA OP 2']=='SAMA'].index)
b = len(df[df['CEK NAMA OP 2']=='BEDA'].index)

print('Hasil Cek NAMA OP di Setma: ')
print('Jumlah NAMA OP Sama : ', s)
print('Jumlah NAMA OP Beda : ', b)

Hasil Cek NAMA OP di Setma:
Jumlah NAMA OP Sama :  3
Jumlah NAMA OP Beda :  4

Pengecekan duplikasi dan pengisian keterangan untuk data yang NOPD tidak ada pada data Setma

In [19]:
df['DUPLICATE'] = np.where(df['CEK NAMA OP 2']=='BEDA', 'TIDAK VALID', df['DUPLICATE'])

df['KETERANGAN'] = np.where(df['CEK NOPD 2']=='TIDAK ADA', 'NOPD TIDAK ADA DI SETMA', '-')
df['KETERANGAN'] = np.where(df['CEK NAMA OP 2']=='BEDA', ('NAMA OP PADA SETMA '+df['Nama']+' DENGAN STATUS '+df['Status']), df['KETERANGAN'])

df = df.sort_values(by=['GUID','NOPD','LOG_TIME'])

df['CEK DUP'] = np.where(df['CEK NAMA OP 2']=='SAMA', 'NODUP', '-')
df['CEK DUP'] = np.where((df['CEK NAMA OP 2']=='SAMA')&(df.duplicated(subset=['GUID','NOPD','NAMA_OP'], keep=False)), 'DUP', df['CEK DUP'])

df['CEK DUP'].value_counts()

d = len(df[df['CEK DUP']=='DUP'].index)
nd = len(df[df['CEK DUP']=='NODUP'].index)

print('Hasil Cek Duplikasi: ')
print('Jumlah Duplikasi : ', d)
print('Jumlah Tidak Ada Duplikasi : ', nd)

Hasil Cek Duplikasi:
Jumlah Duplikasi :  0
Jumlah Tidak Ada Duplikasi :  3

In [20]:
df['DUPLICATE'] = np.where(df['CEK DUP']=='NODUP', 'VALID', df['DUPLICATE'])
df['DUPLICATE'] = np.where((df['CEK DUP']=='DUP')&(df.duplicated(subset=['GUID','NOPD','NAMA_OP'], keep='first')), 'VALID', df['DUPLICATE'])

v = len(df[df['DUPLICATE']=='VALID'].index)
tv = len(df[df['DUPLICATE']=='TIDAK VALID'].index)

print('Hasil Validasi Sementara: ')
print('Jumlah Data Valid : ', v)
print('Jumlah Data Tidak Valid : ', tv)

Hasil Validasi Sementara:
Jumlah Data Valid :  10197
Jumlah Data Tidak Valid :  1531

Pengecekan duplikasi data yang NOPD tidak ada pada data Setma

In [21]:
df['CEK DUP 2'] = np.where(df['CEK NOPD 2']=='TIDAK ADA', 'NODUP', '-')
df['CEK DUP 2'] = np.where((df['CEK NOPD 2']=='TIDAK ADA')&(df.duplicated(subset=['GUID','NOPD','NAMA_OP'], keep=False)), 'DUP', df['CEK DUP 2'])

d = len(df[df['CEK DUP 2']=='DUP'].index)
nd = len(df[df['CEK DUP 2']=='NODUP'].index)

print('Hasil Cek Duplikasi: ')
print('Jumlah Duplikasi : ', d)
print('Jumlah Tidak Ada Duplikasi : ', nd)

Hasil Cek Duplikasi:
Jumlah Duplikasi :  0
Jumlah Tidak Ada Duplikasi :  8

In [22]:
df['DUPLICATE'] = np.where(df['CEK DUP 2']=='NODUP', 'VALID', df['DUPLICATE'])
df['DUPLICATE'] = np.where((df['CEK DUP 2']=='DUP')&(df.duplicated(subset=['GUID','NOPD','NAMA_OP'], keep='first')), 'VALID', df['DUPLICATE'])

v = len(df[df['DUPLICATE']=='VALID'].index)
tv = len(df[df['DUPLICATE']=='TIDAK VALID'].index)

print('Hasil Validasi Sementara: ')
print('Jumlah Data Valid : ', v)
print('Jumlah Data Tidak Valid : ', tv)

Hasil Validasi Sementara:
Jumlah Data Valid :  10205
Jumlah Data Tidak Valid :  1523

Menampilkan data hasil join dan pengecekan validasi beserta field pendukung dari data Setma

In [ ]:
df = df[['GUID', 'NAMA_OP', 'NOPD', 'LOG_TIME', 'Nama', 'Klasifikasi', 'Status', 'DUPLICATE', 'KETERANGAN']]
df

# 7. PENGECEKAN VALIDASI DATA RESTO PADA DATA TABEL REFERENSI

**A. Join data OP Restoran hasil join pertama dan data Tabel Referensi Nama OP**

In [ ]:
df1 = pd.merge(df,tab_ref, on = 'NAMA_OP', how='left')
df1

**B. Pengecekan duplikasi data pada data yang NOPD kosong**

In [25]:
df1['KET NOPD'] = np.where(df1['DUPLICATE']=='TIDAK VALID', '-', 'TERISI')
df1['KET NOPD'] = np.where((df1['DUPLICATE']=='TIDAK VALID')&(df1['NOPD'].isnull()), 'KOSONG', df1['KET NOPD'])

df1['CEK DUP'] = np.where(df1['KET NOPD']=='KOSONG', 'NONDUP', '-' )
df1['CEK DUP'] = np.where((df1['CEK DUP']=='NONDUP')&(df1.duplicated(subset=['GUID','NAMA OP','DUPLICATE'], keep=False)), 'DUP', df1['CEK DUP'])

df1 = df1.sort_values(by=['GUID','NAMA OP', 'LOG_TIME'])

# df1
k = len(df1[df1['KET NOPD']=='KOSONG'].index)
t = len(df1[df1['KET NOPD']=='TERISI'].index)

print('Hasil Cek Keterisian: ')
print('Jumlah Data NOPD Terisi : ', t)
print('Jumlah Data NOPD Kosong : ', k, '\n')

d = len(df1[df1['CEK DUP']=='DUP'].index)
nd = len(df1[df1['CEK DUP']=='NONDUP'].index)

print('Hasil Cek Duplikasi Data NOPD Kosong: ')
print('Jumlah Duplikasi : ', d)
print('Jumlah Tidak Ada Duplikasi : ', nd)

Hasil Cek Keterisian:
Jumlah Data NOPD Terisi :  10205
Jumlah Data NOPD Kosong :  1463

Hasil Cek Duplikasi Data NOPD Kosong:
Jumlah Duplikasi :  38
Jumlah Tidak Ada Duplikasi :  1425

**C. Pengecekan data terupdate berdasarkan Logtime pada data yang duplikat**

In [26]:
# cek data terbaru dengan NAMA OP sama
df1['CEK UP'] = np.where(df1['CEK DUP']=='DUP', 'LAMA', '-')
df1['CEK UP'] = np.where((df1['CEK DUP']=='DUP')&(df1.duplicated(subset=['GUID','NAMA OP'], keep='first')), 'BARU', df1['CEK UP'])

b = len(df1[df1['CEK UP']=='BARU'].index)
l = len(df1[df1['CEK UP']=='LAMA'].index)

print('Hasil Cek Logtime Data NAMA OP Sama: ')
print('Jumlah Data Terupdate : ', b)
print('Jumlah Data Lama : ', l)

Hasil Cek Logtime Data NAMA OP Sama:
Jumlah Data Terupdate :  19
Jumlah Data Lama :  19

In [27]:
df1['DUPLICATE'] = np.where(df1['CEK UP']=='BARU', 'VALID', df1['DUPLICATE'])
df1['DUPLICATE'] = np.where(df1['CEK DUP']=='NONDUP', 'VALID', df1['DUPLICATE'])

v = len(df1[df1['DUPLICATE']=='VALID'].index)
tv = len(df1[df1['DUPLICATE']=='TIDAK VALID'].index)

print('Hasil Validasi Sementara: ')
print('Jumlah Data Valid : ', v)
print('Jumlah Data Tidak Valid : ', tv)

Hasil Validasi Sementara:
Jumlah Data Valid :  11649
Jumlah Data Tidak Valid :  79

# 8. PENGECEKAN KEMBALI VALIDASI DATA VALID

**A. Pengecekan kembali validasi data valid**

In [28]:
df1['CEK DUP 0'] = np.where(df1['DUPLICATE']=='VALID', 'NODUP', '-')
df1['CEK DUP 0'] = np.where((df1['CEK DUP 0']=='NODUP')&(df1.duplicated(subset=['GUID','NAMA OP'], keep=False)), 'DUP', df1['CEK DUP 0'])


d = len(df1[df1['CEK DUP 0']=='DUP'].index)
nd = len(df1[df1['CEK DUP 0']=='NODUP'].index)

print('Hasil Cek Duplikasi Data Valid: ')
print('Jumlah Data Duplicate : ', d)
print('Jumlah Data Tidak Duplicate : ', nd)

Hasil Cek Duplikasi Data Valid:
Jumlah Data Duplicate :  364
Jumlah Data Tidak Duplicate :  11285

In [29]:
df1['CEK DUP 1'] = np.where(df1['DUPLICATE']=='VALID', 'NODUP', '-')
df1['CEK DUP 1'] = np.where(((df1['DUPLICATE']=='VALID')&(df1.duplicated(subset=['GUID','NAMA OP'], keep=False)))&(df1['NOPD'].isnull()), 'DUP', df1['CEK DUP 1'])

d = len(df1[df1['CEK DUP 1']=='DUP'].index)
nd = len(df1[df1['CEK DUP 1']=='NODUP'].index)

print('Hasil Cek Duplikasi Pada Data Valid: ')
print('Jumlah Duplikat Kosong : ', d)
print('Jumlah Duplikat Terisi : ', nd)

Hasil Cek Duplikasi Pada Data Valid:
Jumlah Duplikat Kosong :  74
Jumlah Duplikat Terisi :  11575

In [30]:
df1['KETERANGAN'] = np.where(df1['CEK DUP 1']=='DUP', 'DUPLIKAT DENGAN ADA NOPD', df1['KETERANGAN'])
df1['DUPLICATE'] = np.where(df1['CEK DUP 1']=='DUP', 'TIDAK VALID', df1['DUPLICATE'])

df1['KOS UP'] = np.where(((df1['KET NOPD']=='KOSONG')&(df1['CEK DUP']=='DUP')&(df1['CEK UP']=='BARU')), 'UP', '-')
df1['KETERANGAN'] = np.where(((df1['KET NOPD']=='KOSONG')&(df1['CEK DUP']=='DUP')&(df1['CEK UP']=='BARU')), '-', df1['KETERANGAN'])
df1['DUPLICATE'] = np.where(((df1['KET NOPD']=='KOSONG')&(df1['CEK DUP']=='DUP')&(df1['CEK UP']=='BARU')), 'VALID', df1['DUPLICATE'])

u = len(df1[df1['KOS UP']=='UP'].index)

print('Hasil Cek Duplikasi Pada Data Valid: ')
print('Jumlah Kosong Duplikat : ', u)
print('Jumlah Kosong Tidak Duplikat : ', d-u)

Hasil Cek Duplikasi Pada Data Valid:
Jumlah Kosong Duplikat :  19
Jumlah Kosong Tidak Duplikat :  55

**B. Menampilkan hasil validasi akhir**

In [31]:
v = len(df1[df1['DUPLICATE']=='VALID'].index)
tv = len(df1[df1['DUPLICATE']=='TIDAK VALID'].index)

print('Hasil Validasi Akhir: ')
print('Jumlah Data Valid : ', v)
print('Jumlah Data Tidak Valid : ', tv)

Hasil Validasi Akhir:
Jumlah Data Valid :  11594
Jumlah Data Tidak Valid :  134

# 9. FORMATING AKHIR DAN EXPORT DATA HASIL VALIDASI

**A. Pengaturan susunan dan penamaan variable dari hasil akhir validasi data OP Restoran**

In [ ]:
df1 = df1[['GUID', 'NAMA_OP', 'Nama', 'NAMA OP', 'NOPD', 'LOG_TIME', 'Status', 'DUPLICATE', 'KETERANGAN']]
df1.rename(columns={'Nama': 'NAMA_SETMA', 'NAMA OP': 'NAMA_TAB_REF', 'Status': 'STATUS_SETMA'}, inplace=True)
df1 = df1.sort_values(by=['GUID','NAMA_OP', 'NOPD','LOG_TIME'])
df1

Menampilkan sample output hasil analisa validasi data OP Restoran

In [ ]:
df1[(df1['GUID']=='{EF8BDF3A-0D63-49C7-9FB7-F155C7906FB0}')&(df1['NAMA_OP']=='BAKMI GM')]

In [ ]:
df1[(df1['GUID']=='{12658EFB-62A8-47C2-860E-9AAD3FBDC89F}')&(df1['NAMA_TAB_REF']=='XING FU BAO')]

**B. Export data dalam bentuk Excel**

In [35]:
datatoexcel = pd.ExcelWriter('C:/Users/ASUS/Documents/Sabila Haq/Junior DS/Data_20-10-2022/resto/Hasil Validasi_1.xlsx')
df1.to_excel(datatoexcel)
datatoexcel.save()
print('Selesai')

Selesai

Menampilkan 40 baris output hasil analisa validasi data OP Restoran

In [ ]:
df1[df1['DUPLICATE']=='TIDAK VALID'].head(40)

In [37]:
df1[df1['NAMA_OP']=='KFC SHELL MAMPANG']

,GUID,NAMA_OP,NAMA_SETMA,NAMA_TAB_REF,NOPD,LOG_TIME,STATUS_SETMA,DUPLICATE,KETERANGAN
74,{018840C7-B10A-4347-8966-29270AE9C499},KFC SHELL MAMPANG,NaN,KFC,1061505060035,2021-08-20 16:47:27,NaN,TIDAK VALID,-
75,{018840C7-B10A-4347-8966-29270AE9C499},KFC SHELL MAMPANG,NaN,KFC,1061505060035,2021-10-27 13:48:56,NaN,VALID,-

**SELESAI**